{% extends 'main/base.html' %}

{% block title %}{{ university.name }}{% endblock %}

{% block content %}
<h1 class="my-4">{{ university.name }}</h1>
<p>{{ university.description }}</p>

<h2 class="my-4">Специальности</h2>
<ul class="list-group">
    {% for specialty in specialties %}
        <li class="list-group-item">
            <a href="{% url 'specialty_detail' specialty.id %}">{{ specialty.name }}</a>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'university_list' %}" class="btn btn-primary mt-3">Вернуться к списку университетов</a>
{% endblock %}
